.nothing__main-content {
    align-items: center;
    background: linear-gradient(
        135deg,
        $primary 0%,
        darken($color: $primary, $amount: 40) 100%
    );;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    p {
        text-align: center;
    }
}
